body {
	background-color: #ddf1ff;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	height: 100%;
	width: 800px;
	padding:20px 50px;


}

.tweet-box .reply-box{
	width: 780px;
	height: 56px;
}



.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #FFF;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	border-radius:10px;
}

.title{
	font-size:15spx;
	font-family: "メイリオ", "Meiryo", sans-serif;
	font-weight:700;
	margin-top:10px;
}

.category{
	font-size:10spx;
	font-family: "メイリオ", "Meiryo", sans-serif;
	color:#7492b1;
	margin-top:10px;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
	font-size:40px;
	font-family: "メイリオ", "Meiryo", sans-serif;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.account-name .name {
	font-size:10spx;
	font-family: "メイリオ", "Meiryo", sans-serif;
	font-weight:700;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	font-family: "メイリオ", "Meiryo", sans-serif;
}

.comment .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	font-family: "メイリオ", "Meiryo", sans-serif;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

pre {
	white-space: pre-wrap;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.button {
	position: relative;
	display: inline-block;
	font-weight: 700;
	line-height : 1.5;
	color : #fff;
	background-color: #5bc6ff;
	border-radius:10px;
	line-height: 1.5;
	margin-top:5px;
	margin-bottom:5px;
}
.btn--orange {
  color: #ffffff;
  background-color: #2db9ae;
  border-bottom: 5px solid #82bfae;
  margin-left:10px;
}
.btn--orange:hover {
  margin-top: 3px;
  color: #ffffff;
  background: #2db9ae;
  border-bottom: 2px solid #8ddeca;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#topbutton {

   position: fixed;
   bottom: 18px;
   right: 18px;
   width: 7em;

   background-color: #2525aa;
   opacity: 0.75;
   border-radius: 24px;
   text-align: center;
   font-size: 120%;
   font-weight: bold;
   margin: 0px;
   padding: 10px;
}
#topbutton a {

   color: white;
   text-decoration: none;
}
#topbutton a:hover {

   color: yellow;
   text-decoration: underline;
}

.ribbon22 {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  -webkit-transform: rotate(-10deg) skew(-17deg,4deg);
  transform: rotate(-10deg) skew(-17deg,4deg);
}
.ribbon22:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #eb9920;
  bottom: -7px;
  left: -15px;
  z-index: -2;
}

.ribbon22:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #eb9920;
  bottom: -10px;
  right: -25px;
  z-index: -2;
}

.ribbon22 h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  color: white;
  background: #f8aa37;
}
.ribbon22 h3:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 7px transparent;
  border-right: solid 25px #c6821e;
}
.ribbon22 h3:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #c6821e;
}

.count_area.count_danger {
	color:#ff0000;
}

#result {
	color:#ff0000;
	font-size:8px;
}

.message{
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:15px;
	border-top:double #0053a6;
	border-bottom:double #0053a6;
	background-color:#eaf4ff;
	margin-top:10px;
	border-radius:10px;
}

.comment-box{
	border:solid 1px #98a7c9;
	background-color:#f7fcff;
	mergin-left:20px;
	margin-top:15px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	border-radius:20px;
}

.comment{
	border-left:solid 3px #98a7c9;
	background-color:#f7fcff;
	mergin-left:65px;
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
}

.comment-name{
	font-size:15px;
	font-family: "メイリオ", "Meiryo", sans-serif;
	font-weight:600;
}

.user-management{
	border:solid 1px #98a7c9;
	background-color:#f7fcff;
	mergin-left:20px;
	margin-top:15px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	border-radius:20px;
}

.account{
	color:#333333;
	font-size:15px;
	font-family: "メイリオ", "Meiryo", sans-serif;
}

.name{
	font-size:15px;
	font-family: "メイリオ", "Meiryo", sans-serif;
}

.text{
	font-size:15px;
	font-family: "メイリオ", "Meiryo", sans-serif;
	margin-left:20px;
	margin-top:10px;
}
.font {
font-weight: bold;
}
